{% extends "layout.twig" %}

{% block content %}

<h1>DashBoard</h1>

<ul>
    <li><a href="/curso-introduccion-php/users/add">Add User</a></li>
    <li><a href="/curso-introduccion-php/jobs/add">Add Job</a></li>
</ul>

<br><br>
<a href="/curso-introduccion-php/logout">Logout</a>

{% endblock %}